.box1{
background-color:#EEEEEE;
margin-left: 100px;
margin-right:100px; 
padding-top:10px ;
padding-bottom:10px ;
}
.box2 {

background-color:#7EE5DA;
float: left;
margin-left:100px ;

padding-top: 40px;
padding-bottom:  40px;
padding-left:150px;
padding-right: 150px;
}

.box3{
background-color:#70CCC2;
float: left;
padding-top:30px;
padding-bottom:32px;
padding-left:100px;
padding-right: 100px;

}

.box4 {

    background-color:#7EE5DA;
    float: left;
    padding-top: 20px;
    padding-bottom:36px ;
    padding-left:100px ;
    padding-right:53px ;


}